<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.Control.Properties.Settings.banco" connectionString="Data Source=DESKTOP-D4GI2KI\SQLEXPRESS;Initial Catalog=db_mvc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>